
a{
    display: inline-block;
    overflow: scroll;
}
body{
    background-color: white;
    background-size: 100%;
    background-repeat: repeat;
    min-height: auto;
    min-width: auto;
}

input{
    color: white;
    font-size: 1em;
    width: 6em;
    height: 4em;
    overflow: scroll;
    background-color: black;
    text-align: center;
    min-height: auto;
    min-width: auto;
}
textarea{
    background-color: black;
    color: white;
    text-align: center;
    min-height: auto;
    min-width: auto;
}
h6{
    color:white;
}
.btn-primary{
    background-color: white;
    color: black;
    display: flex;
    padding: 2em;
    font-size: 1em;
    width: 2em;
    align-items: center;
    justify-content: center;
}
.customWidth{
    width: 95%;
}
#titles{
    display: flex;
    flex-direction: row;
}
#alternateNotations{
    width: 19em;
}

