@font-face {
    font-family: barbarian;
    src: url(/fonts/barbarian.ttf);
}
@font-face {
    font-family: moria;
    src: url(/fonts/moriacitadel.ttf);
}
@font-face {
    font-family: ringbearer;
    src: url(/fonts/ringbearer.ttf);
}
a{
    display: block;
    color: black;
}

body{
    background-color:red;
}
div{
    background-color: white;
}
h4{
    text-align: center;
    font-family: 'ringbearer';
}
.blackBackground{
    background-color: black;
    color: white;
}
.border{
    border: solid;
    border-color: black;
    border-width: 5px;
}
.company{
    background-color: black;
    color: white;
    font-decoration: bold;
    max-width: 15em;
}
.darker{
    border-color:black;
    border: 5px;
    border: solid;
}
.filled-in{
    margin-bottom: 0px;
    color: black;
    font-size: 12px;
}
.language{
    background-color: black;
    color: white;
    font-decoration: bold;
}
.label{
    border-top: solid;
    border-top-color: black;
    border-top-width: 2px;
    color: black;
    text-align: left;
    font-size: 10px;
    font-family: "Times New Roman";
    padding-right: 155px;
}
.noBottomMargin{
    margin-bottom: 0px;
}
.noTopMargin{
    margin-top: 0px;
}
.projects{
    text-align: center;
    border-width: 1px;
    background-color: white;
}
#chara{
    background-color: white;
    font-family: 'moria';
    text-decoration: underline;
}
#charaTwo{
    position: relative;
    max-height: 90px;
    max-width: 100%;
    text-align: center;
    font-family: 'moria';
    right: 1em;
}
#formerEmployers{
    text-align: center;
    margin-bottom: 0px;
    border-bottom-width: 0px;
}
#name{
padding-right: 105px;
}

#rpg{
    font-family: 'barbarian';
    max-width: 100%;
    text-align: center;
    font-size: 4em;
    margin-right: 1em;
}
#secondaryStats{
    max-width: 100%;
}
#definition{
    position: relative;
    text-align: center;
    left: 1em;
    font-family: Copperplate;
    max-width: 100%;
}
#gridcontainer{
    display:grid;
}
#logo{
    margin-left: 1em;
    max-height: 8em;
    max-width: 10em;
}
#phone{
    padding-right: 125px;
}
#portrait{
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 300px;
    max-width: 300px;
}
#projectDiv{
    background-color: black;
}
#portraitImg{
    position: relative;
    max-height: 100%;
    max-width: 90%;
    top: -6px;
}
#projectTitle {
    background-color: black;
    color: white;
    max-width: 100%;
    margin: 0px;
}
#skillsList{
    padding-right: 35px;

}

