@font-face {
    font-family: argosgeorge;
    src: url(/fonts/argosgeorge.ttf);
}
@font-face {
    font-family: annstone;
    src: url(/fonts/annstone.ttf);
}
@font-face {
    font-family: lohengrin;
    src: url(/fonts/lohengrin.ttf);
}
@font-face {
    font-family: fenwickWoodType;
    src: url("/fonts/FenwickWoodtype.ttf");
}
@font-face {
    font-family: goudyMediaevalReg;
    src: url("/fonts/GoudyMediaeval-Regular.ttf");
}
@font-face {
    font-family: gingerBread;
    src: url("/fonts/gingerbread.ttf");
}
.annstonefont{
    font-family: annstone;
    font-size: 50px;
}
.argosgeorge{
    font-family: argosgeorge;
}
.enterBottom{
    visibility: hidden;
}
.fenwickWoodTypeFont{
    font-family: fenwickWoodType;
}
.fontTwenty{
    font-size: 20px;
}
.fontEighteen {
    font-size: 18px;
}
.gingerbreadFont{
    font-family: gingerBread;
}
.goudyFont{
    font-family: goudyMediaevalReg;
}
.imageFrameOne{
    border:10px outset darkgoldenrod;
}
.navbar-default .navbar-brand{
    color: darkgoldenrod;
}
.navbar-default .navbar-nav>li>a{
    color: darkgoldenrod;
}
.lohengrinFont{
    font-family: lohengrin;
    font-size: 30px;
}
.sectionTitle{
    visibility: hidden;
    color: darkgoldenrod;
}
#about{
    background-color: #230007;
}
#aboutMeParagraph{
    color: darkgoldenrod;
    position: relative;
    text-align: center;
    font-size: 1em;
}
#aboutMePic{
    height: 25em;
    width: 30em;
}
#contact{
    background-color: #A44200;
}
#intro{
    background-image: url("/IMG/d20.jpg");
    background-size: cover;
}
#mainTitle{
    color: darkgoldenrod;
    display: inline-block;
    font-size: 50px;
    text-decoration: underline;
    background-color: #230007;
}
#navbar{
    background-color: #230007;

}
#projectImage{
    height: 20em;
    width: 25em;
}
#services{
    background-color: #69140E;
}
