.panels{
    height: 2em;
    border-style: double;
    border-color: black;
    border-width: 10px;
}

#panel1{
    background-color: yellow;
    font-size: 2em;
}
#panel2{
    background-color: red;
    font-size: 2em;
}
#panel3{
    background-color: black;
    font-size: 2em;
}